// Test file
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "open sans";
}
body {
  width: 100%;
  // position: relative;
}

.banner {
  background-color: #266e99;

  height: 50px;
  display: flex;

  &-tab {
    display: flex;
    padding: 0;

    justify-content: space-between;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 15px;
      flex-shrink: 1;
      align-items: center;

      li {
        align-items: center;
        font-weight: 500;
        img {
          height: 30px;
        }
        a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;

          line-height: 1.5;
        }
      }
      .versiune-anterioara {
        font-weight: lighter;
      }

      .orasul {
        p {
          margin-bottom: 0;
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-left: 10px;
        }
      }
    }
    .utility-box {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      font-size: 14px;
      justify-content: baseline;
      i {
        color: #c8dae5;
      }

      p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
      }

      .zoom-in-out {
        display: flex;
        margin: 0;
        font-size: 16px;
        gap: 1px;
        align-items: baseline;
        cursor: pointer;

        p:first-child {
          font-size: 12px;
        }
        p:last-child {
          font-size: 20px;
        }
      }
    }
  }
}

.nav {
  background-color: #fff;
  color: #266e99;
  list-style-type: none;
  width: 100%;
  padding: 0;
  flex-direction: column;

  ul {
    display: flex;
    margin: 0;
    padding: 15px 0;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #266e99;
      width: 100%;

      &:first-child {
        border: none;
      }
      &:nth-child(2) {
        border: none;
      }
      &:last-child {
        border-right: 1px solid #266e99;
      }
      img {
        width: 110px;
        height: 36px;
      }
      a {
        text-decoration: none;
        color: #266e99;
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
        padding: 0px 10px;
        line-height: 1.3;
        letter-spacing: 0.1px;
      }
    }
  }
}

.shuffle-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-image: url(https://api.pmb.ro/storage/sliders/December2021/R5KWOQbDs2fYhQ1cOZTs.jpg);
}

.flex-cls {
  display: flex;
}

.mainpart {
  display: flex;
  justify-content: center;
  background-color: #266e99;

  flex-direction: column;

  &-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -110px;

    .row-1 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px;
      & * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none;
      }
      & a {
        border: 1px solid black;
        width: 170px;
        height: 180px;
        justify-content: center;
        background-color: #fff;
        i {
          font-size: 60px;
        }
        p {
          font-size: 20px;
          text-align: center;
        }
      }
    }

    .row-2 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px;

      & * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none;
      }
      & a {
        border: 1px solid #333;
        width: 170px;
        height: 180px;
        background-color: #fff;
        justify-content: center;
        i {
          font-size: 60px;
        }
        p {
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }

  .mainpart-comunicat {
    background-color: #266e99;
    padding: 70px 0 0 0;
    width: 100%;

    .box-wrapper {
      position: relative;

      // margin: 15px;

      i {
        position: absolute;
        color: #fff;
        font-size: 24px;
        cursor: pointer;

        &:first-child {
          top: 115px;
          left: 1px;
        }

        &:nth-child(2) {
          top: 115px;
          right: 1px;
        }
      }
    }
    h3 {
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      margin: 15px;
    }
    .row {
      gap: 35px;
      display: flex;
      justify-content: space-between;
      margin-left: 5px;
      margin-right: 5px;

      .col {
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 230px;
        width: 380px;

        .first-box {
          background-image: url(https://api.pmb.ro/storage/press-releases/May2024/n0YN9IR3qapuv1ZElzzJ.jpg);
          background-size: cover;
        }

        .second-box {
          background-image: url(https://api.pmb.ro/storage/press-releases/May2024/AP7uz3qoygnsAaRq4sTQ.jpg);
          background-size: cover;
        }

        .third-box {
          background-image: url(https://api.pmb.ro/storage/press-releases/May2024/adLyPMxNuFKN1e2jCgPX.jpg);
          background-size: cover;
        }

        a {
          display: flex;
          text-decoration: none;

          span {
            padding-top: 5px;
            margin-top: 120px;
            color: #266e99;
            background-color: #fff;
            font-weight: bold;
            font-size: 14px;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .mainpart-actualitate {
    padding: 30px 0 80px 0;

    h3 {
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      margin: 15px;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .actualitati {
      margin: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      a {
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px;
        display: flex;
        justify-content: space-between;

        p {
          margin: 0;
          // padding: 5px;
          font-size: 14px;
          font-weight: bold;
        }
        i {
          display: flex;
          font-size: 25px;
          align-items: center;
          color: #266e99;
        }
      }

      a:hover {
        i {
          color: #fff;
        }
      }
    }
  }
}

.conducerea {
  display: flex;
  padding: 30px 0 40px 0;
  gap: 10px;

  .row {
    .col {
      padding: 0;
      margin: 15px;
      .row {
        margin: 0;

        h3 {
          color: #266e99;
          font-size: 32px;
          font-weight: bold;
        }

        .col-wrapper {
          width: 100%;
          position: relative;

          img {
            height: 240px;
          }
          .more-nicu {
            position: absolute;
            right: 40px;
            top: 35px;
            h5 {
              color: #266e99;
              font-size: 20px;
              font-weight: bold;
            }

            h3 {
              font-size: 30px;
              padding-bottom: 20px;
            }

            a {
              text-decoration: none;
              border: 1px solid #266e99;
              padding: 7px;
              color: #266e99;
              font-weight: bold;
              border-radius: 5px;
              font-size: 14px;
              &:hover {
                color: #fff;
                background-color: #266e99;
              }
            }
          }
        }

        .viceprimar {
          width: 100%;
          a {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 15px;
            border: 1px solid #d7d7d7;

            p {
              display: flex;
              align-items: center;
              margin: 0;
              font-size: 14px;
              font-weight: bold;
              color: #266e99;
            }

            i {
              font-size: 24px;
              color: #d7d7d7;
            }

            &:hover {
              p {
                color: #17425c;
              }

              i {
                color: #266e99;
              }
            }
          }
        }
      }
    }

    .col {
      h3 {
        color: #266e99;
        font-size: 32px;
        font-weight: bold;
      }

      .minciuni {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;

        a {
          text-decoration: none;
          border: 1px solid #d7d7d7;
          padding: 8px 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 14px;
          font-weight: bold;
          color: #266e99;

          i {
            font-size: 24px;
            color: #d7d7d7;
          }

          &:hover {
            color: #17425c;

            i {
              color: #266e99;
            }
          }
        }
      }
    }
  }
}

.conferinte {
  background-color: #ebebeb;
  padding: 40px 0 60px 0;
  .container {
    padding: 10px;
    h3 {
      color: #266e99;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 20px;
    }

    .row {
      // padding: 15px;
      // margin: 0;
      margin-left: 0;
      .conf-video {
        padding: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid #dee2e6;
        height: fit-content;
        iframe {
          padding: 10px;
          width: 100%;
        }
        p {
          color: #fff;
          background-color: #266e99;
          margin-bottom: 0;
          padding: 12px;
          text-align: center;
          font-size: 20px;
        }
      }

      .archive {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-wrapper {
          position: relative;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #d7d7d7;
          height: 38px;
          a {
            position: absolute;
            display: flex;
            // justify-content:space-around;
            // align-items: center;
            text-decoration: none;
            padding: 8px 15px;
            width: 100%;
            &:hover {
              p {
                color: #17425c;
              }
            }

            p {
              font-size: 14px;
              color: #266e99;
              font-weight: bold;
              z-index: 2;
              margin-bottom: 0;
            }
          }
          .icons-wrapper {
            position: absolute;
            color: #d7d7d7;
            font-size: 22px;
            height: 40px;
            padding: 0 15px;
            right: 0;
            top: 0;
            z-index: 2;
            // background-color: red;

            .fa-chevron-down:hover {
              color: #17425c;
              cursor: pointer;
            }
            .fa-chevron-up:hover {
              color: #17425c;
              cursor: pointer;
            }
          }
        }

        .box-wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;
          .boxes {
            border: 1px solid #d7d7d7;
            background-color: #fff;
            display: flex;
            // flex-direction: column;
            gap: 15px;

            .img-wrapper {
              padding: 10px;
              img {
                width: 165px;
              }
            }
            .infos {
              padding: 10px;
              a {
                text-decoration: none;
                color: #266e99;
                font-weight: bold;
                font-size: 16px;
              }
              p {
                padding-top: 5px;
                font-size: 14px;

                a {
                  font-weight: normal;
                }
              }

              .date {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

.city {
  background-image: url(https://www.pmb.ro/assets/img/bg-image-1.jpg);
  height: 500px;

  .container {
    .row {
      padding: 50px 0;
      .col {
        position: relative;

        h3 {
          font-size: 32px;
          color: #fff;
          font-weight: bold;
        }
        .tabs-wrapper {
          display: flex;
          margin-bottom: -2px;

          .tab {
            background-color: #ebebeb;
            padding: 10px 15px;
            border: 1px solid #d7d7d7;
            border-top-right-radius: 25px;
            font-size: 14px;
            z-index: 2;
            &:first-child {
              border-bottom: none;
              background-color: #fff;
            }
            a {
              text-decoration: none;
              color: #266e99;
            }
          }
        }

        .details {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          border: 1px solid #d7d7d7;
          padding: 35px 70px 20px 15px;
          position: relative;
          border-top-right-radius: 20px;
          z-index: 1;
          a {
            text-decoration: none;
            border-bottom: 1px solid #ebebeb;
            font-size: 14px;
            padding: 5px;
            color: #4f4f4f;

            &:last-child {
              border-bottom: none;
            }

            &:hover {
              text-decoration: underline;

              i {
                color: #266e99;
              }
            }

            i {
              color: #dee2e6;
              font-size: 24px;
              position: absolute;
              right: 30px;
            }
          }
        }

        .harti-wrapper {
          display: flex;
          flex-direction: column;
          gap: 5px;
          a {
            background-color: #fff;
            text-decoration: none;
            padding: 8px 20px;
            font-size: 14px;
            color: #266e99;
            font-weight: bold;
            letter-spacing: 0.3px;
          }
        }
      }
    }
  }
}

.programe {
  padding-top: 60px;
  padding-bottom: 40px;
  .container {
    h3 {
      font-size: 32px;
      color: #266e99;
      font-weight: bold;
      padding-bottom: 15px;
    }

    .row {
      display: flex;
      background-color: #fff;
      justify-content: center;
      flex-wrap: wrap;

      margin: 0;

      &:last-child {
        justify-content: center;
      }

      .box {
        display: inline-flex;
        border: 5px solid #fff;
        flex-direction: column;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 190px;
        background-color: #266e99;

        p {
          text-align: center;
          color: #fff;
          font-size: 20px;
          margin-bottom: 0;
          padding: 0 5px 0 5px;
        }

        i {
          color: #fff;
          font-size: 54px;
        }
      }
    }
  }
}

.events {
  background-color: #d7d7d7;
  padding-top: 40px;
  padding-bottom: 50px;
  
  .container {
    
    h3{
      font-size: 32px;
      margin: 0;
      color: #266e99;
      font-weight: bold;
      padding-bottom: 15px;
    }

    .row{
      justify-content: space-between;
      gap: 35px;
      width: 100%;
      margin-left: 0;
      position: relative;
      i{
        color: #266e99;
        font-size: 28px;
        position: absolute;
        top: 110px;
        right: -1283px;
        cursor: pointer;

        &:first-child{
          top: 110px;
          left: -30px;
        }
       
        

      }
      .col-4 {
        width: 382px;
        height: 275px;
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: #fff;
        
      
        
        a {
          overflow: hidden;
          .wrapping-img {
            img {
              width: 100%;
            }
          }
        }


        .to-event{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          .event-date{
            background-color: #266e99;
            width: 155px;
            padding: 30px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 0;
            color: #fff;
            border-top-right-radius: 25px;
          }

          .title-wrapper{
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
            a{
              
              text-decoration: none;
              
  
              .title{
                
                padding: 0 15px;
                height: 25px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-weight: bold;
                color: #266e99;
                font-size: 14px;
                margin: 0;
              }

              
            }

            p{
              width: 100%;
              padding: 0 15px;
              height: 25px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              
              margin: 0;
              font-size: 14px;
            }
          }
        }
        
      }
    }
  }
}

.smart-city{
  background-image:url(https://www.pmb.ro/assets/img/bg-image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fill;


  .container{

    h3{
      font-size: 32px;
      margin: 0;
      color: #fff;
      font-weight: bold;
      padding: 40px 0 20px 0 ;
    }


    .row{
     padding-bottom: 60px;

      .col{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;


        .app{
          display: flex;
          // gap: 30px;
          flex-direction: column;


          p{
            font-size: 20px;
            color: #fff;
            text-align: center;
          }


          .app-wrapper{
            display: flex;
            gap: 30px;
            padding-bottom: 20px;

          
            a{
  
  
              img{
                width: 65px;
                height: 65px;
              }
            }
            .magazine{
             display: flex;
             flex-direction: column;
              justify-content: space-between;
              a{
  
  
                img{
  
                  width: 65px;
                  height: 20px;
                }
              }
            }


          
          }



        }

      }
    }
  }
}


.parteneri{
  .container{
    padding-top: 60px;
    .row{
      display: flex;
      flex-direction: row;
      justify-content: center;
      
      

      &:last-child{
        padding-top: 25px;
      
      }
      .col{
          display: flex;
          justify-content: center;
          padding: 10px;
          gap: 0;

      
        a{
          
          img{
            height:130px;
            
          }
        }
      }

     



      
    }
  }
}


footer{
  background-color:#4f4f4f;
  
  .container{
    padding-top: 70px;
    padding-bottom: 30px;
    .row{
      padding-bottom: 10px;
      .col{

        img{
          width: 150px;


          &:first-child{
            padding-bottom: 30px;
          }
        }

        h5{
          font-size: 16px;
          color: #fff;
          padding-bottom: 25px;
        }

        ul{
          list-style: none;
          font-size: 14px;
          
          a{
            color: #fff;
            text-decoration: none;

            &:hover{
              color: #adb5bd;
            }
          }

          img{
            padding-top: 40px;
          }
        }

        .contact{
          h5{
            font-size: 16px;
            font-weight: bold;
          }
          ul{
            font-size: 14px;
            list-style: none;
            color: #fff;
            
            a{
              color: #fff;
              text-decoration: none;
              display: block;
              font-weight: lighter;
            }

            li{
              padding: 10px 0;
              
            }

           
          }
        }

        .social-wrapper{
          display: flex;
          
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: #fff;


          &:hover{

            p{
              color: #adb5bd;
            }
          }
          i{
            font-size: 40px;
          }
        
          h5{
            padding: 0;
            margin:0;
          }

          .social-links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            gap: 5px;

            p{
              margin-bottom: 0;
              font-size: 14px;
              font-weight: lighter;
            }
          }

          
        }
      }
    }






    
  }
}
.prelucrarea-datelor{
  background-color:#1f1f1f;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 25px 0;
  position: relative;
  
  .back-to-top{
    background-color: #266e99;
    width: 50px;
    height: 40px;
    position: absolute;
    top: -55px;
    right:150px;
    border-radius: 5px;
    i{
      font-size: 30px;
      padding: 5px;
    }


    &:hover{
      background-color: #17425c;

      i{
        color: #fff;
      }
    }
  }

  a{
    text-decoration: none;
    color: #fff;

    &:hover{
      color: #adb5bd;
    }
  }

  p{
    margin-bottom: 0;
  }

 
}