// Test file
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "open sans";
}
body {
  width: 100%;
}

.banner {
  background-color: #266e99;
  
  height: 50px;
  display: flex;
  
  
  &-tab {
    display: flex;
    padding: 0;
    
    justify-content: space-between;
    
    

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 15px;
      flex-shrink: 1;
      align-items: center;
      

      li {
        align-items: center;
        font-weight: 500;
        img {
          height: 30px;
        }
        a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;

          line-height: 1.5;
        }
      }
      .versiune-anterioara {
        font-weight: lighter;
      }
      

      .orasul {
        
        p{
          margin-bottom: 0;
        }
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-left: 10px;
        }
      }
    }
    .utility-box {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      font-size: 14px;
      justify-content: baseline;
      i {
        color: #c8dae5;
      }

      p{
        
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0;
        
      }
     

      .zoom-in-out {
        display: flex;
        margin: 0;
        font-size: 16px;
        gap: 1px;
        align-items: baseline;
        cursor: pointer;
        
        p:first-child {
          font-size: 12px;
        }
        p:last-child {
          font-size: 20px;
        }
      }
    }
  }
}

.nav {

  background-color: #fff;
  color: #266e99;
  list-style-type: none;
  width: 100%;
  padding: 0;
  flex-direction: column;
  
  ul {
    display: flex;
    margin: 0;
    padding: 15px 0;
    
    
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #266e99;
      width: 100%;

      &:first-child {
        border: none;
      }
      &:nth-child(2) {
        border: none;
      }
      &:last-child {
        border-right: 1px solid #266e99;
      }
      img {
        width: 110px;
        height: 36px;
      }
      a {
        text-decoration: none;
        color: #266e99;
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
        padding: 0px 10px;
        line-height: 1.3;
        letter-spacing: 0.1px;
        
      }
    }
  }
}

.shuffle-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-image: url(https://api.pmb.ro/storage/sliders/December2021/R5KWOQbDs2fYhQ1cOZTs.jpg);
}

.flex-cls {
  display: flex;
}

.mainpart {
  display: flex;
  justify-content: center;
  background-color: #266e99;
  position: relative;
  flex-direction: column;
 
  &-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 3;

    // top: -90px;
    // position: absolute;
    .row-1 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px;
      & * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none;
        
        
      }
      & a{
        border: 1px solid black;
        width: 170px;
        height: 180px;
        justify-content: center;
        background-color: #fff;
        i{
          font-size: 60px;
        }
        p{
          font-size: 20px;
          text-align: center;
        }
        
      }
    }


    .row-2 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px;
      
      & * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none;
        
        
      }
      & a{
        border: 1px solid #333;
        width: 170px;
        height: 180px;
        background-color: #fff;
        justify-content: center;
        i{
          font-size: 60px;
        }
        p{
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }


  .mainpart-comunicat{
    background-color: #266e99;
  }



  .mainpart-actualitate{
    padding: 30px 0 80px 0 ;
    h3{
      color: #fff;
      font-weight: bold;
      font-size: 32px;

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .actualitati{
      
      display: flex;
      flex-direction: column;
      gap: 10px;
      a{
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        
      

        p{
          margin: 0;
          // padding: 5px;
          font-size: 14px;
          font-weight: bold;
        }
        i{
          display: flex;
          font-size: 25px;
          align-items: center;
          color: #266e99;
        }
      }

      a:hover{
        i{
          color: #fff;
        }
      }

    }
  }
}
