* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "open sans"; }

body {
  width: 100%; }

.banner {
  background-color: #266e99;
  width: 100%; }
  .banner-tab {
    display: flex;
    justify-content: center;
    gap: 550px;
    padding: 12px; }
    .banner-tab ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 15px;
      height: 30px;
      flex-shrink: 1; }
      .banner-tab ul li {
        font-weight: 500; }
        .banner-tab ul li img {
          height: 30px; }
        .banner-tab ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          line-height: 1.5; }
      .banner-tab ul .versiune-anterioara {
        font-weight: lighter; }
      .banner-tab ul .orasul a {
        display: flex;
        align-items: center;
        gap: 10px; }
    .banner-tab .utility-box {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      font-size: 14px;
      align-items: baseline; }
      .banner-tab .utility-box i {
        color: #c8dae5; }
      .banner-tab .utility-box .zoom-in-out {
        display: flex;
        align-items: baseline;
        font-size: 16px;
        gap: 1px; }
        .banner-tab .utility-box .zoom-in-out p:first-child {
          font-size: 12px; }
        .banner-tab .utility-box .zoom-in-out p:last-child {
          font-size: 20px; }

.nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  color: #266e99;
  list-style-type: none;
  justify-content: center; }
  .nav ul {
    display: flex;
    padding: 10px; }
    .nav ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #266e99;
      width: 100%; }
      .nav ul li:first-child {
        border: none; }
      .nav ul li:nth-child(2) {
        border: none; }
      .nav ul li:last-child {
        border-right: 1px solid #266e99; }
      .nav ul li img {
        width: 110px;
        height: 36px; }
      .nav ul li a {
        text-decoration: none;
        color: #266e99;
        font-size: 15px;
        font-weight: bolder;
        text-align: center;
        padding: 0px 10px;
        line-height: 1.3;
        letter-spacing: 0.1px;
        padding: 5px; }

.shuffle-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-image: url(https://api.pmb.ro/storage/sliders/December2021/R5KWOQbDs2fYhQ1cOZTs.jpg); }

.flex-cls {
  display: flex; }

.mainpart {
  display: flex;
  justify-content: center;
  background-color: #266e99; }
  .mainpart-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff; }
    .mainpart-shortcuts .row-1 {
      display: flex;
      font-size: 30px;
      gap: 10px; }
      .mainpart-shortcuts .row-1 * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none; }
      .mainpart-shortcuts .row-1 div {
        border: 1px solid black; }
    .mainpart-shortcuts .row-2 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px; }
      .mainpart-shortcuts .row-2 * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none; }
      .mainpart-shortcuts .row-2 div {
        border: 1px solid #333; }
