* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "open sans"; }

body {
  width: 100%; }

.banner {
  background-color: #266e99;
  height: 50px;
  display: flex; }
  .banner-tab {
    display: flex;
    padding: 0;
    justify-content: space-between; }
    .banner-tab ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 15px;
      flex-shrink: 1;
      align-items: center; }
      .banner-tab ul li {
        align-items: center;
        font-weight: 500; }
        .banner-tab ul li img {
          height: 30px; }
        .banner-tab ul li a {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          line-height: 1.5; }
      .banner-tab ul .versiune-anterioara {
        font-weight: lighter; }
      .banner-tab ul .orasul p {
        margin-bottom: 0; }
      .banner-tab ul .orasul a {
        display: flex;
        align-items: center;
        gap: 10px;
        padding-left: 10px; }
    .banner-tab .utility-box {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #fff;
      font-size: 14px;
      justify-content: baseline; }
      .banner-tab .utility-box i {
        color: #c8dae5; }
      .banner-tab .utility-box p {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; }
      .banner-tab .utility-box .zoom-in-out {
        display: flex;
        margin: 0;
        font-size: 16px;
        gap: 1px;
        align-items: baseline;
        cursor: pointer; }
        .banner-tab .utility-box .zoom-in-out p:first-child {
          font-size: 12px; }
        .banner-tab .utility-box .zoom-in-out p:last-child {
          font-size: 20px; }

.nav {
  background-color: #fff;
  color: #266e99;
  list-style-type: none;
  width: 100%;
  padding: 0;
  flex-direction: column; }
  .nav ul {
    display: flex;
    margin: 0;
    padding: 15px 0; }
    .nav ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid #266e99;
      width: 100%; }
      .nav ul li:first-child {
        border: none; }
      .nav ul li:nth-child(2) {
        border: none; }
      .nav ul li:last-child {
        border-right: 1px solid #266e99; }
      .nav ul li img {
        width: 110px;
        height: 36px; }
      .nav ul li a {
        text-decoration: none;
        color: #266e99;
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
        padding: 0px 10px;
        line-height: 1.3;
        letter-spacing: 0.1px; }

.shuffle-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-image: url(https://api.pmb.ro/storage/sliders/December2021/R5KWOQbDs2fYhQ1cOZTs.jpg); }

.flex-cls {
  display: flex; }

.mainpart {
  display: flex;
  justify-content: center;
  background-color: #266e99;
  flex-direction: column; }
  .mainpart-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: -110px; }
    .mainpart-shortcuts .row-1 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px; }
      .mainpart-shortcuts .row-1 * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none; }
      .mainpart-shortcuts .row-1 a {
        border: 1px solid black;
        width: 170px;
        height: 180px;
        justify-content: center;
        background-color: #fff; }
        .mainpart-shortcuts .row-1 a i {
          font-size: 60px; }
        .mainpart-shortcuts .row-1 a p {
          font-size: 20px;
          text-align: center; }
    .mainpart-shortcuts .row-2 {
      display: flex;
      font-size: 30px;
      justify-content: center;
      gap: 10px; }
      .mainpart-shortcuts .row-2 * {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #266e99;
        text-decoration: none; }
      .mainpart-shortcuts .row-2 a {
        border: 1px solid #333;
        width: 170px;
        height: 180px;
        background-color: #fff;
        justify-content: center; }
        .mainpart-shortcuts .row-2 a i {
          font-size: 60px; }
        .mainpart-shortcuts .row-2 a p {
          font-size: 20px;
          text-align: center; }
  .mainpart .mainpart-comunicat {
    background-color: #266e99;
    padding: 70px 0 0 0;
    width: 100%; }
    .mainpart .mainpart-comunicat .box-wrapper {
      position: relative; }
      .mainpart .mainpart-comunicat .box-wrapper i {
        position: absolute;
        color: #fff;
        font-size: 24px;
        cursor: pointer; }
        .mainpart .mainpart-comunicat .box-wrapper i:first-child {
          top: 115px;
          left: 1px; }
        .mainpart .mainpart-comunicat .box-wrapper i:nth-child(2) {
          top: 115px;
          right: 1px; }
    .mainpart .mainpart-comunicat h3 {
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      margin: 15px; }
    .mainpart .mainpart-comunicat .row {
      gap: 35px;
      display: flex;
      justify-content: space-between;
      margin-left: 5px;
      margin-right: 5px; }
      .mainpart .mainpart-comunicat .row .col {
        padding: 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        height: 230px;
        width: 380px; }
        .mainpart .mainpart-comunicat .row .col .first-box {
          background-image: url(https://api.pmb.ro/storage/press-releases/May2024/n0YN9IR3qapuv1ZElzzJ.jpg);
          background-size: cover; }
        .mainpart .mainpart-comunicat .row .col .second-box {
          background-image: url(https://api.pmb.ro/storage/press-releases/May2024/AP7uz3qoygnsAaRq4sTQ.jpg);
          background-size: cover; }
        .mainpart .mainpart-comunicat .row .col .third-box {
          background-image: url(https://api.pmb.ro/storage/press-releases/May2024/adLyPMxNuFKN1e2jCgPX.jpg);
          background-size: cover; }
        .mainpart .mainpart-comunicat .row .col a {
          display: flex;
          text-decoration: none; }
          .mainpart .mainpart-comunicat .row .col a span {
            padding-top: 5px;
            margin-top: 120px;
            color: #266e99;
            background-color: #fff;
            font-weight: bold;
            font-size: 14px; }
            .mainpart .mainpart-comunicat .row .col a span:hover {
              text-decoration: underline; }
  .mainpart .mainpart-actualitate {
    padding: 30px 0 80px 0; }
    .mainpart .mainpart-actualitate h3 {
      color: #fff;
      font-weight: bold;
      font-size: 32px;
      margin: 15px; }
      .mainpart .mainpart-actualitate h3:hover {
        text-decoration: underline;
        cursor: pointer; }
    .mainpart .mainpart-actualitate .actualitati {
      margin: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px; }
      .mainpart .mainpart-actualitate .actualitati a {
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 5px;
        display: flex;
        justify-content: space-between; }
        .mainpart .mainpart-actualitate .actualitati a p {
          margin: 0;
          font-size: 14px;
          font-weight: bold; }
        .mainpart .mainpart-actualitate .actualitati a i {
          display: flex;
          font-size: 25px;
          align-items: center;
          color: #266e99; }
      .mainpart .mainpart-actualitate .actualitati a:hover i {
        color: #fff; }

.conducerea {
  display: flex;
  padding: 30px 0 40px 0;
  gap: 10px; }
  .conducerea .row .col {
    padding: 0;
    margin: 15px; }
    .conducerea .row .col .row {
      margin: 0; }
      .conducerea .row .col .row h3 {
        color: #266e99;
        font-size: 32px;
        font-weight: bold; }
      .conducerea .row .col .row .col-wrapper {
        width: 100%;
        position: relative; }
        .conducerea .row .col .row .col-wrapper img {
          height: 240px; }
        .conducerea .row .col .row .col-wrapper .more-nicu {
          position: absolute;
          right: 40px;
          top: 35px; }
          .conducerea .row .col .row .col-wrapper .more-nicu h5 {
            color: #266e99;
            font-size: 20px;
            font-weight: bold; }
          .conducerea .row .col .row .col-wrapper .more-nicu h3 {
            font-size: 30px;
            padding-bottom: 20px; }
          .conducerea .row .col .row .col-wrapper .more-nicu a {
            text-decoration: none;
            border: 1px solid #266e99;
            padding: 7px;
            color: #266e99;
            font-weight: bold;
            border-radius: 5px;
            font-size: 14px; }
            .conducerea .row .col .row .col-wrapper .more-nicu a:hover {
              color: #fff;
              background-color: #266e99; }
      .conducerea .row .col .row .viceprimar {
        width: 100%; }
        .conducerea .row .col .row .viceprimar a {
          text-decoration: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 8px 15px;
          border: 1px solid #d7d7d7; }
          .conducerea .row .col .row .viceprimar a p {
            display: flex;
            align-items: center;
            margin: 0;
            font-size: 14px;
            font-weight: bold;
            color: #266e99; }
          .conducerea .row .col .row .viceprimar a i {
            font-size: 24px;
            color: #d7d7d7; }
          .conducerea .row .col .row .viceprimar a:hover p {
            color: #17425c; }
          .conducerea .row .col .row .viceprimar a:hover i {
            color: #266e99; }
  .conducerea .row .col h3 {
    color: #266e99;
    font-size: 32px;
    font-weight: bold; }
  .conducerea .row .col .minciuni {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0; }
    .conducerea .row .col .minciuni a {
      text-decoration: none;
      border: 1px solid #d7d7d7;
      padding: 8px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      color: #266e99; }
      .conducerea .row .col .minciuni a i {
        font-size: 24px;
        color: #d7d7d7; }
      .conducerea .row .col .minciuni a:hover {
        color: #17425c; }
        .conducerea .row .col .minciuni a:hover i {
          color: #266e99; }

.conferinte {
  background-color: #ebebeb;
  padding: 40px 0 60px 0; }
  .conferinte .container {
    padding: 10px; }
    .conferinte .container h3 {
      color: #266e99;
      font-size: 32px;
      font-weight: bold;
      padding-bottom: 20px; }
    .conferinte .container .row {
      margin-left: 0; }
      .conferinte .container .row .conf-video {
        padding: 0;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid #dee2e6;
        height: fit-content; }
        .conferinte .container .row .conf-video iframe {
          padding: 10px;
          width: 100%; }
        .conferinte .container .row .conf-video p {
          color: #fff;
          background-color: #266e99;
          margin-bottom: 0;
          padding: 12px;
          text-align: center;
          font-size: 20px; }
      .conferinte .container .row .archive {
        display: flex;
        flex-direction: column;
        gap: 20px; }
        .conferinte .container .row .archive-wrapper {
          position: relative;
          text-decoration: none;
          background-color: #fff;
          border: 1px solid #d7d7d7;
          height: 38px; }
          .conferinte .container .row .archive-wrapper a {
            position: absolute;
            display: flex;
            text-decoration: none;
            padding: 8px 15px;
            width: 100%; }
            .conferinte .container .row .archive-wrapper a:hover p {
              color: #17425c; }
            .conferinte .container .row .archive-wrapper a p {
              font-size: 14px;
              color: #266e99;
              font-weight: bold;
              z-index: 2;
              margin-bottom: 0; }
          .conferinte .container .row .archive-wrapper .icons-wrapper {
            position: absolute;
            color: #d7d7d7;
            font-size: 22px;
            height: 40px;
            padding: 0 15px;
            right: 0;
            top: 0;
            z-index: 2; }
            .conferinte .container .row .archive-wrapper .icons-wrapper .fa-chevron-down:hover {
              color: #17425c;
              cursor: pointer; }
            .conferinte .container .row .archive-wrapper .icons-wrapper .fa-chevron-up:hover {
              color: #17425c;
              cursor: pointer; }
        .conferinte .container .row .archive .box-wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px; }
          .conferinte .container .row .archive .box-wrapper .boxes {
            border: 1px solid #d7d7d7;
            background-color: #fff;
            display: flex;
            gap: 15px; }
            .conferinte .container .row .archive .box-wrapper .boxes .img-wrapper {
              padding: 10px; }
              .conferinte .container .row .archive .box-wrapper .boxes .img-wrapper img {
                width: 165px; }
            .conferinte .container .row .archive .box-wrapper .boxes .infos {
              padding: 10px; }
              .conferinte .container .row .archive .box-wrapper .boxes .infos a {
                text-decoration: none;
                color: #266e99;
                font-weight: bold;
                font-size: 16px; }
              .conferinte .container .row .archive .box-wrapper .boxes .infos p {
                padding-top: 5px;
                font-size: 14px; }
                .conferinte .container .row .archive .box-wrapper .boxes .infos p a {
                  font-weight: normal; }
              .conferinte .container .row .archive .box-wrapper .boxes .infos .date {
                font-size: 12px; }

.city {
  background-image: url(https://www.pmb.ro/assets/img/bg-image-1.jpg);
  height: 500px; }
  .city .container .row {
    padding: 50px 0; }
    .city .container .row .col {
      position: relative; }
      .city .container .row .col h3 {
        font-size: 32px;
        color: #fff;
        font-weight: bold; }
      .city .container .row .col .tabs-wrapper {
        display: flex;
        margin-bottom: -2px; }
        .city .container .row .col .tabs-wrapper .tab {
          background-color: #ebebeb;
          padding: 10px 15px;
          border: 1px solid #d7d7d7;
          border-top-right-radius: 25px;
          font-size: 14px;
          z-index: 2; }
          .city .container .row .col .tabs-wrapper .tab:first-child {
            border-bottom: none;
            background-color: #fff; }
          .city .container .row .col .tabs-wrapper .tab a {
            text-decoration: none;
            color: #266e99; }
      .city .container .row .col .details {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid #d7d7d7;
        padding: 35px 70px 20px 15px;
        position: relative;
        border-top-right-radius: 20px;
        z-index: 1; }
        .city .container .row .col .details a {
          text-decoration: none;
          border-bottom: 1px solid #ebebeb;
          font-size: 14px;
          padding: 5px;
          color: #4f4f4f; }
          .city .container .row .col .details a:last-child {
            border-bottom: none; }
          .city .container .row .col .details a:hover {
            text-decoration: underline; }
            .city .container .row .col .details a:hover i {
              color: #266e99; }
          .city .container .row .col .details a i {
            color: #dee2e6;
            font-size: 24px;
            position: absolute;
            right: 30px; }
      .city .container .row .col .harti-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px; }
        .city .container .row .col .harti-wrapper a {
          background-color: #fff;
          text-decoration: none;
          padding: 8px 20px;
          font-size: 14px;
          color: #266e99;
          font-weight: bold;
          letter-spacing: 0.3px; }

.programe {
  padding-top: 60px;
  padding-bottom: 40px; }
  .programe .container h3 {
    font-size: 32px;
    color: #266e99;
    font-weight: bold;
    padding-bottom: 15px; }
  .programe .container .row {
    display: flex;
    background-color: #fff;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0; }
    .programe .container .row:last-child {
      justify-content: center; }
    .programe .container .row .box {
      display: inline-flex;
      border: 5px solid #fff;
      flex-direction: column;
      text-decoration: none;
      justify-content: center;
      align-items: center;
      padding: 0;
      height: 190px;
      background-color: #266e99; }
      .programe .container .row .box p {
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-bottom: 0;
        padding: 0 5px 0 5px; }
      .programe .container .row .box i {
        color: #fff;
        font-size: 54px; }

.events {
  background-color: #d7d7d7;
  padding-top: 40px;
  padding-bottom: 50px; }
  .events .container h3 {
    font-size: 32px;
    margin: 0;
    color: #266e99;
    font-weight: bold;
    padding-bottom: 15px; }
  .events .container .row {
    justify-content: space-between;
    gap: 35px;
    width: 100%;
    margin-left: 0;
    position: relative; }
    .events .container .row i {
      color: #266e99;
      font-size: 28px;
      position: absolute;
      top: 110px;
      right: -1283px;
      cursor: pointer; }
      .events .container .row i:first-child {
        top: 110px;
        left: -30px; }
    .events .container .row .col-4 {
      width: 382px;
      height: 275px;
      display: flex;
      flex-direction: column;
      padding: 0;
      background-color: #fff; }
      .events .container .row .col-4 a {
        overflow: hidden; }
        .events .container .row .col-4 a .wrapping-img img {
          width: 100%; }
      .events .container .row .col-4 .to-event {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; }
        .events .container .row .col-4 .to-event .event-date {
          background-color: #266e99;
          width: 155px;
          padding: 30px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 0;
          color: #fff;
          border-top-right-radius: 25px; }
        .events .container .row .col-4 .to-event .title-wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          overflow: hidden; }
          .events .container .row .col-4 .to-event .title-wrapper a {
            text-decoration: none; }
            .events .container .row .col-4 .to-event .title-wrapper a .title {
              padding: 0 15px;
              height: 25px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              font-weight: bold;
              color: #266e99;
              font-size: 14px;
              margin: 0; }
          .events .container .row .col-4 .to-event .title-wrapper p {
            width: 100%;
            padding: 0 15px;
            height: 25px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
            font-size: 14px; }

.smart-city {
  background-image: url(https://www.pmb.ro/assets/img/bg-image-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fill; }
  .smart-city .container h3 {
    font-size: 32px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    padding: 40px 0 20px 0; }
  .smart-city .container .row {
    padding-bottom: 60px; }
    .smart-city .container .row .col {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 30px; }
      .smart-city .container .row .col .app {
        display: flex;
        flex-direction: column; }
        .smart-city .container .row .col .app p {
          font-size: 20px;
          color: #fff;
          text-align: center; }
        .smart-city .container .row .col .app .app-wrapper {
          display: flex;
          gap: 30px;
          padding-bottom: 20px; }
          .smart-city .container .row .col .app .app-wrapper a img {
            width: 65px;
            height: 65px; }
          .smart-city .container .row .col .app .app-wrapper .magazine {
            display: flex;
            flex-direction: column;
            justify-content: space-between; }
            .smart-city .container .row .col .app .app-wrapper .magazine a img {
              width: 65px;
              height: 20px; }

.parteneri .container {
  padding-top: 60px; }
  .parteneri .container .row {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .parteneri .container .row:last-child {
      padding-top: 25px; }
    .parteneri .container .row .col {
      display: flex;
      justify-content: center;
      padding: 10px;
      gap: 0; }
      .parteneri .container .row .col a img {
        height: 130px; }

footer {
  background-color: #4f4f4f; }
  footer .container {
    padding-top: 70px;
    padding-bottom: 30px; }
    footer .container .row {
      padding-bottom: 10px; }
      footer .container .row .col img {
        width: 150px; }
        footer .container .row .col img:first-child {
          padding-bottom: 30px; }
      footer .container .row .col h5 {
        font-size: 16px;
        color: #fff;
        padding-bottom: 25px; }
      footer .container .row .col ul {
        list-style: none;
        font-size: 14px; }
        footer .container .row .col ul a {
          color: #fff;
          text-decoration: none; }
          footer .container .row .col ul a:hover {
            color: #adb5bd; }
        footer .container .row .col ul img {
          padding-top: 40px; }
      footer .container .row .col .contact h5 {
        font-size: 16px;
        font-weight: bold; }
      footer .container .row .col .contact ul {
        font-size: 14px;
        list-style: none;
        color: #fff; }
        footer .container .row .col .contact ul a {
          color: #fff;
          text-decoration: none;
          display: block;
          font-weight: lighter; }
        footer .container .row .col .contact ul li {
          padding: 10px 0; }
      footer .container .row .col .social-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color: #fff; }
        footer .container .row .col .social-wrapper:hover p {
          color: #adb5bd; }
        footer .container .row .col .social-wrapper i {
          font-size: 40px; }
        footer .container .row .col .social-wrapper h5 {
          padding: 0;
          margin: 0; }
        footer .container .row .col .social-wrapper .social-links {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 5px; }
          footer .container .row .col .social-wrapper .social-links p {
            margin-bottom: 0;
            font-size: 14px;
            font-weight: lighter; }

.prelucrarea-datelor {
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
  font-size: 12px;
  padding: 25px 0;
  position: relative; }
  .prelucrarea-datelor .back-to-top {
    background-color: #266e99;
    width: 50px;
    height: 40px;
    position: absolute;
    top: -55px;
    right: 150px;
    border-radius: 5px; }
    .prelucrarea-datelor .back-to-top i {
      font-size: 30px;
      padding: 5px; }
    .prelucrarea-datelor .back-to-top:hover {
      background-color: #17425c; }
      .prelucrarea-datelor .back-to-top:hover i {
        color: #fff; }
  .prelucrarea-datelor a {
    text-decoration: none;
    color: #fff; }
    .prelucrarea-datelor a:hover {
      color: #adb5bd; }
  .prelucrarea-datelor p {
    margin-bottom: 0; }
