body{
    position: relative;
    width: 100%;
    background-color: #fff;
  }
  header{
    background-image:linear-gradient(rgb(37,41,45),rgb(35,56,76),rgb(37,41,45));
  
    .navig{
     text-align: center;
      
      
    
      &-logo{
       margin-left: 10px;
       display: inline-block;
      }
    
      &-items{
        list-style-type: none;
        display: inline-block;
        margin-bottom: 0px;
        // padding: 20px;
        
      
     
      
    
      
        .navig-item{
          display: inline-block;
          border-right: 1px solid #abb8c3;
          margin-top: 15px;
          margin-bottom: 15px;
          padding: 3px;
          text-align: center;
         
         
          a{
            text-decoration: none;
            color: white;
            margin-left: 4vw;
            margin-right: 4vw;
            
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-align: center;
            
    
            
          }
    
        }
        .navig-item:first-child{
          border-left: 1px solid #abb8c3;
        }
        .navig-item:last-child{
          border-right: none;
        }
      }
    
      &-search{
        display: inline-block;
    
        
       
    
        #leng{
          width: 12vw;
          height: 35px;
          border-radius: 7px;
          
        }
    
       
        
        
      }
      .icon{
        margin-left: 20px;
        height:30px;
        width: 20px;
        color:#abb8c3;
      }
    }
  
   
    .head-rest{
      text-align: center;
      padding: 10px;
      h1{
        color: white;
        font-family:'Libre Baskerville';
        font-weight: 700;
        font-size: 50px;
      }
      h6{
        color:#888484;
        font-size: 12px;
        letter-spacing: 0.5;
        font-weight: 700;
      }
    }
  
  }