
.comunicate{
    margin-bottom: 80px;
    margin-top: 50px;
  
   
   .row{
    margin-left: 25px;
   }
    h5{

        padding: 15px;
        padding-left:0px ;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }
  .col-4{
    width: 400px;
    border: 1px solid black;
    padding: 0;
    height: 350px;
    margin-right: 35px;
    border-radius:8px;
    margin-bottom: 60px;
    display: inline-block;

    
        &:last-child{
            margin-right: 0px;
        }


        & img{
        height: 150px;
        width: 100%;
       
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        
    }

        & p{
        font-weight: bold;
        color: #445566;
        text-align: center;
    }
  }

  &_btn{
  
    background-color:#F8A23F;
    color: #fff;
    border: none;
    padding: 15px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-decoration: none;
    
  }
  
}

.proceduri{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#EFF5F5 ;
   
    .arrow{
        background-color: #F8A23F;
        color: white;
        background-size: 4px;
        font-size: 10px;
        width: 60px;
        height: 80px;
        position: absolute;
        top:0;
        right: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        
    }
    .container{
        .row{
            margin-left: 20px;
        }

        &>p{
            color: #778899;
            font-weight: 600;
            a{
                text-decoration: none;
                color: #445566;
            }
    }
    h5{

        padding: 15px;
        padding-left:0px ;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }
    
    }
    
    .col-sm{
        height: 80px;
        min-width: 300px;
        box-shadow: -5px 5px 9px -8px #000;
        margin-bottom: 25px;
        margin-right: 70px;
        text-decoration: none;
        line-height: 0.8;
        border-radius: 10px;
        background: #fff;
        position: relative;
        
        
            h6{
                font-weight: bold;
                font-size:20px;
                color: black;
                letter-spacing: -0.5px;
                margin-top: 10px;
            }

            p{
                color: #778899;
              
               
            }

            
    }

    .col:hover{
        .arrow{
            width: 70px;
        }
        h6{
            color: #F8A23F;
        }
    }
}


.registratura{
    padding-top: 80px;
    padding-bottom:100px;
    .container{
        .row{
           
            .col{
                min-width: 440px;
                min-height: 200px;
                margin-top: 35px;
                h5{
                    padding: 15px;
                    padding-left:0px ;
                    font-size: 24px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                }
                p{
                    font-weight: 700;
                    color:#778899;
                }
                .seeAll{
                    background-color:#F8A23F;
                    color: #fff;        
                    padding: 15px;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 1.5;
                    letter-spacing: 1px;
                    text-decoration: none;
                    
                }

                &:last-of-type h5{
                    color: #fff;
                }
                
                & img{
                    padding-left: 70px;
                
                }
            }

           
        }
    }
}

@media (max-width:880px){
    .registratura{
        .container{
            .row{
                .col{
                    margin-left: 150px;
                    margin-top: 50px;

                    img{
                        padding: 0;
                    }
                }
            }
        }
    }
}


// @media (max-width:1200){
//     .registratura{
//         .container{
//             .row{
//                &:last-of-type .col{
//                 margin-left: 325px;
//                }
//             }
//         }
//     }
// }


.socialMedia{
    padding-top: 40px;
    padding-bottom: 170px;
    background-color:#EFF5F5 ;
    .container{
        h5{
        margin-top: 30px;
        margin-bottom: 70px;
        padding-left:0px ;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 1.5px; 
        }

        .row{
            margin: 0;
            .col-sm-4{
                background-color: #fff;
                border-radius: 10px;
                border: 1px solid #96b8b8;
                box-shadow: 3px 3px 10px -1px #96b8b8;
                padding: 0;
                height: 432px;
                margin-right:10px ;
               
                &-instagram{
                    padding: 10px;
                    a{
                        text-decoration: none;
                    }
                    svg{
                    margin-left: 10px;
                    
                    }
                    p{
                    display: inline-block;
                    font-weight: bold;
                    margin-left: 20px;
                    color: #000;
                    
                    }

                
                }
                &-imag{
                 img{
                    width: 100%;

                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                 }
                }

            }
            .col-sm-4{
                border: 1px solid #96b8b8;
                box-shadow: 3px 3px 10px -1px #96b8b8;
                padding: 0;
                margin-right: 20px;
                & > iframe{
                    margin: 0;
                    width: 100%;
                    height: 538px;
                }
            }




            
            .col-sm-3{
              
                a{ 
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;
                    display: inline-block;
                    background-color: #fff;
                    text-decoration: none;
                    padding: 10px;
                    width: 100%;
                    border: 1px solid #96b8b8;
                    box-shadow: 3px 3px 10px -1px #96b8b8;
                    border-bottom:none;
                }
                .youtube{
                    img{
                        width: 45px;
                        height: 45px;
                        
                    }
                    p{
                        display: inline-block;
                        font-weight: bold;
                        margin-left: 20px;
                        color: #000;
                    }


                   



                }
                iframe{
                    width: 100%;
                    border-bottom-right-radius: 10px;
                    border-bottom-left-radius: 10px;
                    border: 1px solid #96b8b8;
                    box-shadow: 3px 3px 10px -1px #96b8b8;
                    border-top: none;
                }
                

                

            }   

        }
    }



}
    


.newsletter{
    padding-top: 30px;
    padding-bottom: 70px;
    .container{
        h5{
        
            padding: 15px;
            padding-left:0px ;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 1.5px;
            margin-bottom: 0;
        }
        .row{
           
            .col{
                &>p{
                    margin-top: 35px;
                    color: #778899;
                    font-weight: 600;
                    letter-spacing: 0.8;
                }

              
                label{
                    color: #AABBCC;
                    margin-top: 15px;
                    font-weight: 700;
                    font-size: 14px;
                   

                    &:last-child{
                        color: #000;
                        margin-bottom: 25px;
                        font-weight: normal;
                    }
                }


                input:not(:last-of-type),#nume,#email{
                   border-radius: 5px;
                   width:400px;
                   height: 40px;
                   border: 1px solid #96b8b8;
                   box-shadow: 3px 3px 10px -1px #96b8b8;
                    
                }

                button{
                background-color:#F8A23F;
                color: #fff;
                border: none;
                padding: 10px;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.5;
                height: 50px;
                text-decoration: none;
                border-radius: 30px;
                padding-left: 25px;
                padding-right: 25px;
                }
            }
          
        }
    }
}





.platformaNationala{
    background-color:#EFF5F5;
    padding: 65px;
    padding-bottom: 100px;
    .container{

        .row{

            h5{
        
                padding: 15px;
                padding-left:0px ;
                font-size: 24px;
                font-weight: bold;
                letter-spacing: 1.5px;
                margin-bottom: 20px;
            }
            .col-2{
                height: 80px;
                width: 350px;
                box-shadow: -5px 5px 9px -8px #000;
                margin-bottom: 25px;
                margin-right: 70px;
                text-decoration: none;
                line-height: 0.8;
                border-radius: 10px;
                background: #fff;
                position: relative;

                h6{
                    font-weight: bold;
                    font-size:20px;
                    color: black;
                    letter-spacing: -0.5px;
                    margin-top: 10px;
                }
                p{
                    color: #778899;
                }

                .arrow{
                    background-color: #F8A23F;
                    color: white;
                    background-size: 4px;
                    font-size: 10px;
                    width: 60px;
                    height: 80px;
                    position: absolute;
                    top:0;
                    right: 0;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;

                    
                }

                &:hover{
                    .arrow{
                        width: 70px;
                    }
                    h6{
                        color: #F8A23F;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 500px){
    .container{
        width: 100%;
        text-align: center;
    }


    .comunicate{
        .row{
            margin: 0;
        }
    }

    .proceduri{
        .container{
            .row{
                margin-left:10px ;
                margin-right:10px ;
            }
        }
    }

    .newsletter{
        .container{
           .row{

            .col{
                button{
                    margin-bottom: 30px;
                
                }
                #nume,#email{
                    width: 360px;
                }
            }
           }
        }
    }

    .registratura{
        .container{
            .row{
                justify-content: center;
                
                .col{
                    margin: 0;
                    margin-bottom: 25px;
                }
            }
        }
    }

    .socialMedia{
        .container{
            width: 100%;
            .row{
                flex-wrap: wrap;

                .col-sm-4{
                    margin-bottom: 70px;
                }

                .col-sm-3{
                    margin-top: 80px;
                }
            }
        }
    }

    .platformaNationala{
        .container{
           .row{
            a{
                max-width: none;
                .col-2{
                    margin: 0;
                    width: 200px;
                    margin-right: 20px;
                    padding: 0;
                }
            }
           }
        }
    }
}