// Test file
@import "header.scss";
@import "sections.scss";
@import "footer.scss";


* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  
  .child{
    padding : 0;
    margin  : 0;
    
  }
}



