* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; }
  * .child {
    padding: 0;
    margin: 0; }

body {
  position: relative;
  width: 100%; }

header {
  background-color: #112233; }
  header .navig {
    text-align: center; }
    header .navig-logo {
      margin-left: 10px;
      display: inline-block; }
    header .navig-items {
      list-style-type: none;
      display: inline-block;
      margin-bottom: 0px; }
      header .navig-items .navig-item {
        display: inline-block;
        border-right: 1px solid #abb8c3;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 3px;
        text-align: center; }
        header .navig-items .navig-item a {
          text-decoration: none;
          color: white;
          margin-left: 65px;
          margin-right: 65px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: center; }
      header .navig-items .navig-item:first-child {
        border-left: 1px solid #abb8c3; }
      header .navig-items .navig-item:last-child {
        border-right: none; }
    header .navig-search {
      display: inline-block; }
      header .navig-search #leng {
        width: 300px;
        height: 35px;
        border-radius: 7px; }
    header .navig .icon {
      margin-left: 20px;
      height: 30px;
      width: 20px;
      color: #abb8c3; }
