// Test file
@import "./header.scss";
@import "section.scss";

* {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  
  .child{
    padding : 0;
    margin  : 0;
    
  }
}



